@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;700;800&display=swap");

* {
    font-size: 30px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 800;
}

body {
    padding: 0;
    margin: 0;
    text-align: center;
    /* background-color: darkgreen; */
    background-image: url(./images/background.jpg);
}

h1 {
    text-align: center;
    font-size: 60px;
    line-height: 1;
    margin-bottom: 0;
    color: white;
    font-family: 'Galada', cursive;
    font-family: 'Permanent Marker', cursive;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: none;
    margin-top: 40px;
    grid-column-gap: 50px;
}

.score {
    padding: 0 1px;
    color: black;
    height: 40px;
    width: 25px;
    font-size: 30px;
    line-height: 1;
    padding-left: -15px;
    padding-top: 10px;
}

.game {
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    border-radius: 20px;
    border: solid gray;
    /* background-color: gray; */
    background-image: url(./images/homebackground.jpeg);
}

.home {
    flex: 1 0 33.33%;
    overflow: hidden;
    position: relative;
}

.home:after {
    display: block;
    background: url(./images/house.png) bottom center no-repeat;
    background-size: contain;
    content: '';
    width: 100%;
    height: 90px;
    position: absolute;
    z-index: 2;
    bottom: -15px;
}

.man {
    background: url('./images/man.png') bottom center no-repeat;
    background-size: 80%;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 105%;
    transition: all 0.5s;
    cursor: url(./images/circle.png), auto;
}

.home.up .man {
    top: 0;
}

button {
    font-size: 25px;
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    color: rgb(54, 53, 53);
    border-radius: 20px;
    text-align: center;
    position: relative;
    cursor: pointer;
    letter-spacing: 0.5px;
    border: white;
}

#main ul li {
    text-align: left;
    font-size: 20px;
    padding: 5px;
}

h3 {
    text-align: center;
    padding-right: 70px;
}

#footer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    justify-items: center;
    align-items: center;
    align-content: center;
    margin-right: 100px
}

#buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}



@media (min-width: 667px) and (max-width: 1024px) {
    h1 {
        display: none;
    }

    .score {
        padding: 0 12px;
        line-height: 1;
        color: black;
        font-size: 30px;
    }

    .home.up .man {
        top: 17px;
    }
}

@media (max-width: 667px) {
    .game {
        width: 5570px;
        height: 400px;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        border-radius: 20px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        border: none;
        margin-top: 40px;
        grid-column-gap: 50px;
    }

    body {
        padding: 0;
        margin: 0;
        text-align: center;
        background-image: url(./images/background.jpg);
    }
}